.text-center{
    background-color: rgb(243, 217, 71);
    border-radius: 50px 30px 40px 20px;
    padding: 30px;
}

.form-group{
    padding:30px 30px;
    background-color: #f0f0f0;
    /* border-left: 1px solid; */
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-color: #AAAAAA;
    border-radius: 20px;
    /* border-width: thick; */
    /* text-align: center; */
    /* border: none; */
    margin-left: 0px;
    margin-right: 20px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.form-select{
    font-weight: bold;
  color: #AAAAAA;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  padding-bottom: 20px;
  border-radius: 55px;
  /* display: grid; */
  /* grid-template-columns: 15% 85%; */
  padding-left: 40px;
  padding-top: 15px;
  /* position: relative; */
    /* padding: 5px; */
    /* align-items: right; */
}

p{
    margin: 15px;
    /* margin-top: 15px; */
}